*{
    box-sizing: border-box;
    border: 1px solid black;
}

html{
    font-size: 62.5%;
}

/* #results{
    display: none;
} */
section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 5px;
    width: 90%;
    height: auto;
}

.item{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    height: 40px;
    padding-top: 0;


}

.movieInfo{
    display: flex;
    width: 50%;
    height: 100%;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0
}

img{
    margin-top: 1%;
}

.title{
    width: 100%;
    height: 20px;
    margin: 0 auto;
    text-align: center;

}
.type, .year{
    width: 40px;
    height: 10px;
    margin: 0;
    text-align: center;
}